{% extends "base_generic.html" %}

{% block content %}
  <h1>Event List</h1>
  {% if event_list %}
<table style="width:15%">
      <tr>
        <th>Event Title</th>
        <th>Remove </th>
      </tr>
    {% for event in event_list %}
      <tr>
        <td><a href="{{ event.get_absolute_url }}" class="eventbutton">{{ event.title }}</a></td>
        <td><a href="{% url 'delete_event' event.pk %}" class="button">Delete</a></td>
      </tr>
    {% endfor %}
</table>
  {% else %}
    <p>There are no Events.</p>
  {% endif %} 
{% endblock %}